.bg-sections-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../../assets/images/white-blue-bg.svg"); // <1200 - change
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;

  @media only screen and (max-width: 575px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &--grey-blue-bg {
    background-color: rgba(#F5F5F5, .4);
  }

  &--white-blue-bg {

  }

  &__heading {
    position: relative;
    margin-bottom: 20px;
    font-family: $theme-font-black;
    font-size: 40px;
    line-height: 1.75;

    @media only screen and (max-width: 575px) {
      margin-bottom: 10px;
      font-size: 22px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 44px;
      height: 6px;
      background-image: url("../../../assets/images/logo-line.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__subheading {
    margin-bottom: 85px;
    max-width: 930px;
    opacity: .8;

    @media only screen and (max-width: 575px) {
      margin-bottom: 40px;
    }
  }

  &__content {
    padding: 0;
  }

  &__img {
    //margin-left: 50px;
    max-width: 100%;
  }
}