.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @media only screen and (max-width: 575px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    margin-bottom: 15px;
    background-color: $theme-color-white;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;

    @media only screen and (max-width: 575px) {
      &:not(:last-child) {
        margin-bottom: 15px;
        margin-right: 0;
      }
    }
  }

  &__img {
    min-width: 100%;

    @media only screen and (max-width: 575px) {
      width: 100%;
      min-width: auto;
    }
  }

  &__info {
    padding: 30px 30px 35px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: $theme-font-bold;
    font-size: 25px;

    @media only screen and (max-width: 1199px) {
      font-size: 19px;
    }
  }

  &__list {
    margin: 0;
    padding-left: 32px;
    color: rgba($theme-color-secondary, .8);

    @media only screen and (max-width: 1199px) {
      padding-left: 20px;
    }
  }

  &__list-item {

  }
}