// colors
$theme-color-primary: #5be79c;
$theme-color-secondary: #090941;
$theme-color-blue: #0655e7;
$theme-color-lightGray: #e6e6e6;
$theme-color-inputPlaceholder: #4c5672;
$theme-color-white: #fff;

// fonts
$theme-font-light: "Gilroy Light", sans-serif;
$theme-font-regular: "Gilroy Regular", sans-serif;
$theme-font-medium: "Gilroy Medium", sans-serif;
$theme-font-semiBold: "Gilroy SemiBold", sans-serif;
$theme-font-bold: "Gilroy Bold", sans-serif;
$theme-font-black: "Gilroy Black", sans-serif;